In [1]:
import pandas as pd

In [13]:
data_mov = pd.read_csv('movies.csv')
data_rate = pd.read_csv('ratings.csv')
high_rated = data_rate[data_rate.rating == 5.0]
high_rated.sort_values(by=['movieId']).head()
best_film = high_rated.movieId.value_counts().head(1).index[0]
best_film_name = data_mov[data_mov.movieId == best_film]
best_film_name

     movieId                             title       genres
314      318  Shawshank Redemption, The (1994)  Crime|Drama

In [14]:
data = pd.read_csv('power.csv')
data_baltic = data[(data.country == 'Estonia') | (data.country == 'Latvia') | (data.country == 'Lithuania')]
baltic_cat = data_baltic[(data_baltic.category == 4) | (data_baltic.category == 12) | (data_baltic.category == 21)]
baltic_final = baltic_cat[(baltic_cat.year > 2005) & (baltic_cat.year < 2010) & (baltic_cat.quantity > 0)]
baltic_final['quantity'].sum()

164555.0

In [31]:
page_url = 'https://www.x-rates.com/table/?from=USD&amount=1'
fin_data = pd.read_html(page_url, attrs = {'class': 'ratesTable'})
fin_data[:10]

[               US Dollar    1.00 USD  inv. 1.00 USD
 0                   Euro    0.901413       1.109370
 1          British Pound    0.800450       1.249298
 2           Indian Rupee   75.727158       0.013205
 3      Australian Dollar    1.555292       0.642966
 4        Canadian Dollar    1.415237       0.706595
 5       Singapore Dollar    1.415401       0.706513
 6            Swiss Franc    0.961564       1.039972
 7      Malaysian Ringgit    4.296487       0.232748
 8           Japanese Yen  106.804530       0.009363
 9  Chinese Yuan Renminbi    7.060623       0.141631]